#headerArea {grid-area: header;}
#menuArea {grid-area: menu;}
#mainArea {grid-area: main;}

/* Page Templete */

#gridContainer{
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "menu main main main main main"
    "menu main main main main main";

    grid-template-columns: 150px auto;
    grid-template-rows: 200px auto;
    background-color: rgb(250,227,249);
    
}

#gridContainer div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Header */
#gridContainer #headerArea{
    background-image: url("Dog Banner.jpg");
    border-style:solid;
}

#gridContainer #headerArea h1{
    color: rgb(255, 255, 255);
    line-height:150px;
}

/* Menu */
#gridContainer #menuArea{
    border-style:solid;
}

/* Main */
#gridContainer #mainArea{
    border-style:solid;
}

/* Background of Colour */

body{
    background-color: rgb(253,210,210);
}

/* Media Queries */
@media only screen and (max-width: 500px){
    #gridContainer #headerArea h1{
        font-size: 15px;
    }
}