body {
    background-color:#cccccc;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

table.tableCenter{
    margin-left: auto;
    margin-right: auto;
}

ul.bulletCenter{
    display:inline-block;
    text-align:left;
}

p em {color:#FFFFFF;}

table, th,td{
    border:1px solid black;
    border-collapse: collapse;
}

th, td{
    background-color:#e9e9e9;
}
