#headerArea {grid-area: header;}
#menuArea {grid-area: menu;}
#mainArea {grid-area: main;}


/* Page Templete */
#gridContainer {
    display: grid;
    grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu main main main main main";

    grid-template-rows:150px auto;
    column-gap: 5px;
    row-gap: 10px;
    background-color:  rgb(250, 227, 249)/*#b174eb*/;
    padding: 15px;
}

#gridContainer div{
    text-align: center;
}


/* Header */
#gridContainer #headerArea{
    background-image: url("campfire.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-style:solid;
}

#gridContainer #headerArea h1{
    color:aliceblue;
    font-size: 60px;
}


/* Menu */
#gridContainer #menuArea{
    font-family: Arial, Helvetica, sans-serif;
    color: #2362ff;
    background-color: rgba(97, 156, 245, 0.733);
    line-height: 200%;
    border-style:solid;
}

#gridContainer #menuArea a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Main Area */
#mainArea{
    font-size: 120%;
    border-style:solid;
    padding-bottom: 20%;
}


/* CV Specific */
#mainArea #aboutMe h1{
    font-size: 150%;
    line-height: 5px;
}

#mainArea #aboutMe h2{
    font-size: 125%;
}

#mainArea table.tableCenter{
    margin-left: auto;
    margin-right: auto;
}

#mainArea ul.bulletCenter{
    display:inline-block;
    text-align:left;
}

#mainArea p em {color:#ff9100;}

#mainArea table, th,td{
    border:1px solid black;
    border-collapse: collapse;
}

#mainArea th, td{
    background-color:#cfc2db;
}


/* Background of all pages */
body{
    background-color: rgb(253, 210, 210);
}

